.location {
  width: 400px;
  text-align: left;
  padding: 10px;

  fieldset {
    border: none;
    border-top: solid 1px darkslategray;
    padding: 30px;
    font-weight: bold;
  }

  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 15px;
    border: solid 1px darkslategray;
  }

  button {
    padding: 10px;
    width: 50%;
    border: none;
    background-color: darkslategray;
    color: #fff;
  }
}
